<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="base">
        <div class="maindisplay">
          <div class="subdisplay">Scientific Calculator-SPE Mini Project</div>
          {{ mainDisplayText }}
        </div>
        <div class="keypad">
          <table style="width: 100%;">
            <tr>
              <td class="keys ackey" colspan="3" >AC</td>
              <td class="keys opkey" colspan="1">√x</td>
            </tr>
            <tr>
              <td class="keys numkey" >7</td>  
              <td class="keys numkey">8</td>
              <td class="keys numkey">9</td>  
              <td class="keys opkey" >x!</td>
            </tr>
            <tr>
              <td class="keys numkey" >4</td>  
              <td class="keys numkey" >5</td>
              <td class="keys numkey" >6</td>  
              <td class="keys opkey" >ln</td>
            </tr>
            <tr>
              <td class="keys numkey" >3</td>  
              <td class="keys numkey" >2</td>
              <td class="keys numkey" >1</td>  
              <td class="keys opkey" >^</td>
            </tr>
            <tr>
              <td colspan="3" class="keys numkey">0</td>
              <!-- <td class="keys numkey">.</td>   -->
              <td class="keys equalkey" >=</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>